<h2 class="text-center">DASHBOARD</h2>
  <div class='text-center sensor-panel sensor-panel-extra'>
    <h3><%= @sensor.name %></h3>

    <h4>Tempurature</h4>
    <div class="temp-circle temp-circle-center">
      <%= @sensor.weather_datum.last.temp %>&#8457;
    </div>
    <h4>Humidity</h4>
    <div class="temp-circle temp-circle-center">
      <%= @sensor.weather_datum.last.humidity %>
    </div>
    <h4>
      <%= @sensor.weather_datum.last.created_at.strftime("%d %b %Y - %H:%M:%S") %>
    </h4>
  </div>

<hr>
