/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require custom
 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
  font-family: 'Roboto', sans-serif;
}


#flash_notice, #flash_alert {
  z-index: 10000;
  position: fixed;
  top: 60px;
  right: 10px;
  background-color: chartreuse;
  color: red;
  padding: 10px;
}


#log-in, #sign-up {
  margin: 0 auto;
}

.sensor-panel {
  background: #fff;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 16px auto;
  max-width: 960px;
  padding: 2.25%; /* 18px / 800px */
  width: 85%;
  height:365px;
  p {
    position: relative;
    top: -100px;
    left: 0px;
  }
}

.sensor-panel-extra {
  height: 650px;
}

.temp-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 100px;
  text-align: center;
  background: #000
}

.temp-circle-center {
  margin-left: auto;
  margin-right: auto;
}


.chart {
  canvas {
    display: block;
    width: 830px;
    height: 400px;
    position: relative;
    top: -126px;
    left: 95px;
  }
}


// media queries for below 1200
